<div class="container">
  <h1>Password Generator</h1>

  <table class="inputs">
    <tr>
      <td class="right">
           <input
                (input)="setPassLength($event.target)"
                id="pass-length"
                type="number"
           />
      </td>
      <td><label for="pass-length">Enter Length (6 - 30)</label></td>
    </tr>
    <tr>
      <td class="right"><input
           [(ngModel)]="includeLetters"
           type="checkbox"
           id="ch1"
           value="ch1">
      </td>
      <td><label for="ch1">Use Letters</label></td>
    </tr>
    <tr>
      <td class="right"><input
           [(ngModel)]="includeNumbers"
           type="checkbox"
           id="ch2"
           value="ch2">
      </td>
      <td><label for="ch2">Use Numbers</label></td>
    </tr>
    <tr>
      <td class="right"><input
           [(ngModel)]="includeSymbols"
           type="checkbox"
           id="ch3"
           value="ch3">
      </td>
      <td><label for="ch3">Use Symbols</label></td>
    </tr>
  </table>
  <div>
    <button
         (click)="onButtonClick()"
        [class]="formIsValid ?'':  'disabled'"
    >Generate!
    </button>
  </div>
  <table *ngIf="password">
    <tr><label>Your Password</label></tr>
    <tr>
      <div class="card" style="min-width: 250px; height: 30px;">
           {{ password }}
      </div>
    </tr>
  </table>

</div>
